#!/bin/sh

#printscriptlocation
if [ $BASH_ARGV ]; then
	safeecho "Sourcing: $BASH_ARGV"
else
	safeecho "Sourcing: ${(%):-%x}"
fi

lsopts="-CG"

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    #lsopts=$lsopts" --color=auto"
    #alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=always'
    alias fgrep='fgrep --color=always'
    alias egrep='egrep --color=always'
fi

if [[ $ENV_TYPE != 'mac' ]]; then
	#alias ls="ls -CG --group-directories-first"
    #lsopts=$lsopts" --color=auto"
	#lsopts=$lsopts" --group-directories-first"

	# On Mac, dotfiles are sorted first, but on linux they're sorted inline
	# This forces dotfiles to be sorted first
	export LC_ALL="C"
fi

if [[ $ENV_TYPE == 'linux' ]]; then
	lsopts="--color=auto"
fi
alias ls="ls $lsopts"
alias ll="ls $lsopts -olhF"

alias la="ls $lsopts -olhFA"
alias l="ls $lsopts -F"

alias less='less -i -x4'
alias less='less -R'

#alias vi='/usr/local/bin/vim'

#alias tags='ctags -R -f ~/.vtags --c++-kinds=+p --fields=+iaS --extra=+q .'
#alias tags='ctags -R -f ~/.vtags --c++-kinds=+p --fields=+iaS --extra=+q /Volumes/kixeye/enyo/trunk'

if [[ $ENV_TYPE = 'mac' ]]; then
	macvim=`which mvim`
	if [ $macvim ]; then
		alias vim="$macvim"
	fi
fi

if [ -e $DIR/vimdiffsvn.sh ]; then
	alias vimdiffsvn=$DIR/vimdiffsvn.sh
fi

alias gitlogpretty="git log --no-merges --abbrev-commit --pretty=format:'%h %an: %s'"

alias changelistall='svn cl checkmein $(svn st | awk '"'"'{if ($1 == "M" || $1 == "A" || $1 == "D") print $2; else if ($1 == "---") exit}'"'"')'
alias unchangelistall='svn cl --remove $(svn st | awk '"'"'{if ($1 == "M" || $1 == "A" || $1 == "D") print $2; else if (NF == 1) print $1;}'"'"' | grep -v Changelist)'
alias testunchangelistall='echo $(svn st | awk '"'"'{if ($1 == "M" || $1 == "A" || $1 == "D") print $2; else if (NF == 1) print $1;}'"'"' | grep -v Changelist)'
#function svnstage {
#	for f in $(svn st | awk '"'"'{if ($1 == "M" || $1 == "A" || $1 == "D") print $2; else if ($1 == "---") exit}'"'"'); do
#		for a in $*; do
#			if [[ $f == *"$a"* ]]; then
#				svn cl checkmein "$f"
#			fi
#		done
#	done
#}
alias svnstage='svn cl checkmein'
alias svnunstage='svn cl --remove'
alias svnignore='svn cl IGNOREME'
alias svnunignore='svn cl --remove IGNOREME'
alias svnremove='svn cl --remove'
alias svncommitstaged='svn ci --cl checkmein'

alias screensaverbackground='/System/Library/Frameworks/ScreenSaver.framework/Resources/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine -background &'

# Get readable list of network IPs
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ip10="ifconfig | grep \"inet 10\" | sed \"s/^.*inet \(.*\) --.*/\1/\""

alias gimme="sudo chown -R $(whoami)"
alias pip="pip3"
