#!/bin/sh

function clearline() {
	if [[ $- =~ "i" ]]; then
		printf ' %.0s' {1..100}
		echo -ne "\r"
	fi
}

# Call this at the top of each file you source to track the initialization path
function printscriptlocation() {
	if [[ $BASH_ARGV ]]; then
		safeecho "Sourcing: $BASH_ARGV"
	else
		safeecho "Sourcing: ${BASH_SOURCE[0]}"
	fi
}

printscriptlocation

if [[ $ENV_TYPE = 'mac' ]]; then
	function ff { osascript -e 'tell application "Finder"'\
		-e "if (${1-1} <= (count Finder windows)) then"\
		-e "get POSIX path of (target of window ${1-1} as alias)"\
		-e 'else' -e 'get POSIX path of (desktop as alias)'\
		-e 'end if' -e 'end tell'; };\

	function cdff { cd "`ff $@`"; };

	tellresult() {
		if [ $? -eq 0 ]; then
			say "build complete"
		else
			say "build failed"
		fi
	}

	svndiff() {
		svn diff "${@}" | colordiff 
	}
fi

# Colorize text red
# Arg 1: text to colorize
# Arg 2: (optional) text to replace it with
# Credit: http://www.unix.com/unix-for-dummies-questions-and-answers/134824-using-sed-change-specific-words-color.html
function sgrep {
	if [ $# -gt 1 ]; then
		sed ''/$1/s//`printf "\033[31m$2\033[0m"`/'' $3 ;
	else
		sed ''/\\\($1\\\)/s//`printf "\033[31m"`\\\1`printf "\033[0m"`/'' $2 ;
		#sed -E ''/\($1\)/s//`printf "\033[31m"`\\\1`printf "\033[0m"`/'' $2 ;
	fi
}
